<div class="container">
  <form [formGroup]="challengeForm" (ngSubmit)="createChallenge()">

    <div class="form-group">
      <label for="exampleInputPassword1">Challenge name</label>
      <input type="text" class="form-control" formControlName="challengeName" placeholder="Enter challenge name"
        [ngClass]="{ 'is-invalid': submitted && challengeForm.controls.challengeName.errors }">
      <div class="form-control-feedback" *ngIf="submitted && challengeForm.controls.challengeName.errors">
        <p *ngIf="submitted && challengeForm.controls.challengeName.errors.required">Challenge name is required</p>
      </div>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Number of days</label>
      <input type="number" class="form-control" min="1" max="1000" formControlName="numberOfDays" placeholder="Number of days"
      [ngClass]="{ 'is-invalid': submitted && challengeForm.controls.numberOfDays.errors }">
      <div class="form-control-feedback" *ngIf="submitted && challengeForm.controls.numberOfDays.errors">
          <p *ngIf="submitted && challengeForm.controls.numberOfDays.errors.required">Number of days is required</p>
        </div>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Penality</label>
      <input type="text" class="form-control" formControlName="penality"
        placeholder="What will you do if you don't complete it?"
        [ngClass]="{ 'is-invalid': submitted && challengeForm.controls.penality.errors }">
        <div class="form-control-feedback" *ngIf="submitted && challengeForm.controls.penality.errors">
            <p *ngIf="submitted && challengeForm.controls.penality.errors.required">Penality is required</p>
          </div>
    </div>

    <button type="submit" class="btn btn-primary">Create challenge</button>
  </form>
</div>