<div class="jumbotron">
  <a class="btn btn-primary btn-lg" href="javascript:void(0);" role="button" routerLink="/challenge/create">Create New Challenge</a>
</div>

<ul class="list-group">
  <li class="list-group-item" routerLink="/challenge/{{ challenge._id }}" [class.disabled]="checkExpired(challenge.start_date,challenge.number_of_days)" *ngFor="let challenge of challengeList">{{ challenge.name }} -  {{ challenge.completed_days }}/{{ challenge.number_of_days }} days - {{ challenge.completed_days/challenge.number_of_days*100  | number : '1.2-2' }} % completed ---- start date {{ challenge.start_date | date:'dd/MM/yyyy'}}
  </li>
</ul>